@font-face {
    font-family:"helveticaneue-bold";
    src: url(../font/HelveticaNeue\ Bold.ttf);
}
/* common start */
body{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #898989;
}
/* header start */
header{
background-color: #fcdb00;
padding: 20px 0;
}
.c_nav{ 
}
.logo{
}
.menu{
}
.menu ul li a{
 font-size: 22px;
 font-weight: 700;
 color: #010101 !important;
 padding: 0 50px !important;
}
.menu ul li a:hover{
    color: white !important;

}
.menu ul li a:last-child{
padding-right: 0 !important;
}
/* header end */
/* slider start */
.slider{
    background-color:#fcdb00;
    padding-bottom: 100px ;
}
.c_ind {
    bottom: -80px;
}
 {

}
.c_ind [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50% ;
    background-color: white;
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
}

.s_text{
    margin-top: 50px;
}
.s_text h1{
    font-size: 32px;
    font-weight: 700;
    color: #010101;
}
.s_text h2{
    margin:   20px 0 ;
    font-size: 20px;
    font-weight: 4 00;
    color: #313841;
}
.s_text p{
    color: #555555; 
}
.s_icon{}
.s_icon ul li{
    margin-right: 30px !important;
}
.s_icon ul li i{
    font-size: 42px;
    color: #010101;
    transform: .3s;
    -webkit-transform: .3s;
    -moz-transform: .3s;
    -ms-transform: .3s;
    -o-transform: .3s;
}
.s_icon ul li i:hover{
    transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
}
.s_img{}
.s_img img{

}
/* slider end */
/* feature start */
.feature{
    padding-top: 100px;
    padding-bottom: 120px;
}
.c_title{}
.c_h1{
    margin-bottom: 15px;
    font: size 32px; ;
    font-weight: 700;
    color: #010101;
}
.c_p {
    line-height: 28px;
    font-size: 20px;
    color: #313841;
}
.features-icon {
}
.features-icon img {
        margin-top: 50px;
    margin-left: 12px;
}
/* feature end */

